{% extends 'base.html' %}
{% block title %} home{% endblock title %}
{% load static %}
{% block content %}
<div class="capitalize flex justify-center flex-row items-center m-5 text-green-500">
    your course registerd  successfully.✔

    {{form}}
    
</div>
<div class=" flex justify-center">
<Button class="  mt-5 py-1.5 bg-blue-500 rounded p-1 border border-red-50 hover:shadow-lg text-white font-semibold duration-300 "><a href="{% url 'home' %}">Home</a></Button>
</div>
{% endblock content %}