{% extends 'base.html' %}
{% block title %} Sign Up{% endblock title %}

{% block content %}
<div class="flex md:flex-row flex-col items-center justify-evenly mt-10 ">
    <div class="">
        <!-- form -->
        <form action="" method="post">
            {% csrf_token %}
            <div>
                <p><label>{{form.username.label}}.</label></p>
                {{form.username}}
            </div>
            <small id="min" class="text-red-400 transition-all ease-linear duration-500">Min char..5 <small id="tick" class= "opacity-0">✔</small></small>

            <div>
                <p><label>{{form.email.label}}.</label></p>
                {{form.email}}
                <span id="em" class=" opacity-0 text-green-500  shadow -ml-1 px-3 rounded-full py-3 transition-all duration-300">✔</span>
            </div>
            <small id="text" class="opacity-0 duration-500">Please enter valid email.</small>

            <div>
                <p><label>{{form.password1.label}}.</label></p>
                {{form.password1}}
            </div>
            
            
            <div class="rounded">
                <p><label>{{form.password2.label}}.</label></p>
                {{form.password2}}
            </div>
            <small id="pas" class=" duration-500"></small>
            
            <div class="mt-1">
            <button  class="md:w-1/2 mt-2 text-center bg-blue-700 px-4 py-2 rounded hover:shadow hover:shadow-gray-500/90 text-white" type="submit">Save</button>
            </div>
        </form>
    </div>
    <!-- content -->
    <div class="md:w-1/2 mt-2 text-center p-2 md:text-left">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur adipisci tempora autem atque magni tempore non, quis totam praesentium, omnis impedit sequi, suscipit mollitia! Repudiandae voluptatibus quae us praesentium! Laboriosam, nisi officiis ratione minus quae culpa quos tempore earum aliquid. Natus, quam. Officia, sapiente minima! Nisi, officiis, voluptate itaque incidunt beatae alias molestias cupiditate tenetur sequi assumenda pariatur quam necessitatibus obcaecati voluptatum! Rerum ut vitae qui blanditiis consequatur similique incidunt quis, amet explicabo nihil facere inventore optio cupiditate nostrum autem, animi eum debitis sit at fugiat! Incidunt modi sapiente et inventore impedit!</p>
        <button class=" mt-2 bg-white-700 px-4 py-2 rounded shadow shadow-gray-500/90 text-green-700 hover:bg-gradient-to-r via-slate-500/30  from-green-400 duration-300  text-1xl" type="submit">Explore</button>


    </div>

</div>

{% endblock content %}